<div class="page-own-content">


<div class="page-row">
    <div class="page-title">
        <h3>
            <!-- <a href="" class="edit-link">back</a> -->
            Profile / Edit
        </h3>


       {% if success %}
        <div class="da-alert da-alert-success" role="alert">
            {{success}}
            <button type="button" class="da-close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

      
    </div>
</div>
 <div class="page-content">
    <div class="page-row">
        <div class="page-col">
            <div class="page-content-title">
                <p>Manage your profile below</p>
            </div>
        </div>
    </div>
</div> 
<div class="profile-bio-container">

    <div class="profile-bio-wrapper">
        <div class="profile-image-box">
            <div class="profile-image" style="margin-bottom: 20px;">
                <img src="../../../static/img/candidate/{{session['candidate_profile_pic']}}" alt="" class="profile-img">
            </div>

            <div class="profile-image-link">
                <a href="">Change Photo</a>
            </div>

        </div>

        <div class="profile-bio">

            <form action="/candidate/update-bio" method="POST">
               
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <h5>Personal Details</h5>
                    </div>
                </div>
                <div class="profile-form-row">

                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">First name</label>
                        <input type="text" class="profile-input" name="fname" value="{{session['fname']}}">
                        <small class="form-error">
                            
                        </small>
                    </div>

                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Last name</label>
                        <input type="text" class="profile-input" name="lname" value="{{session['lname']}}">
                        <small class="form-error">
                            
                        </small>
                    </div>
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Surname</label>
                        <input type="text" class="profile-input" name="surname" value="{{session['surname']}}">
                        <small class="form-error">
                            
                        </small>
                    </div>
                </div>

                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Phone</label>
                        <input type="text" class="profile-input" name="phone" value="{{session['phone']}}">
                        <small class="form-error">
                            
                        </small>
                    </div>
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Proffesional Title</label>
                        <input type="text" class="profile-input" name="title" value="{{session['title']}}">
                        <small class="form-error">
                            
                        </small>
                    </div>
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Gender</label>
                        <select class="profile-select" name="gender">
                            <option>--Choose--</option>
                            
                            <option value="1" >Male</option>
                            <option value="2" >Female</option>
                        </select>
                        <small class="form-error">
                            
                        </small>
                    </div>

                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">D.O.B</label>
                        <input type="date" class="profile-input" name="dob" value="{{session['dob']}}">
                        <small class="form-error">
                            <small class="form-error">
                                
                            </small>
                        </small>
                    </div>
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">National ID No.</label>
                        <input type="text" class="profile-input" name="national_id_no" value="{{session['national_id_no']}}">
                        <small class="form-error">
                            
                        </small>
                    </div>
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Address</label>
                        <input type="text" class="profile-input" name="address" value="{{session['address']}}">
                        <small class="form-error">
                            
                        </small>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Bio</label>
                        <textarea class="profile-textarea" name="bio">{{session['bio']}}</textarea>
                        <small class="form-error">
                            
                        </small>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <button type="submit" class="btn btn-blue2">Update</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="profile-bio-container">
    <div class="profile-bio-wrapper">
        <div class="profile-bio">
            <form action="">
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <h5>Skills and Attributes</h5>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Technical Skills</label>
                        <select class="profile-select" name="technical_skills[]" id="technical_skills" multiple>
                            
                                <option value=""></option>
                            
                        </select>
                        <small class="form-error">
                            
                        </small>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Soft Skills</label>
                        <select class="profile-select" name="soft_skills[]" id="soft_skills" multiple>
                            
                                <option value=""></option>
                           
                        </select>
                        <small class="form-error">
                            
                        </small>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Languages</label>
                        <select class="profile-select" name="languages[]" id="languages" multiple>
                            
                                <option value=""></option>
                            
                        </select>
                        <small class="form-error">
                            
                        </small>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <button class="btn btn-blue2">Update</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="profile-bio-container">
    <div class="profile-bio-wrapper">
        <div class="profile-bio">
            <form action="">
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <h5>Experience and Certifications</h5>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Work Experience 1</label>
                        <input type="text" class="profile-input" name="work_experience">
                        <small class="form-error">
                            
                        </small>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Work Experience 2</label>
                        <input type="text" class="profile-input" name="work_experience">
                        <small class="form-error">
                            
                        </small>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Certifications 1</label>
                        <input type="text" class="profile-input" name="certifications">
                        <small class="form-error">
                           
                        </small>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Certifications 2</label>
                        <input type="text" class="profile-input" name="certifications">
                        <small class="form-error">
                            
                        </small>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <button class="btn btn-blue2">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="profile-bio-container">
    <div class="profile-bio-wrapper">
        <div class="profile-bio">
            <form action="">
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <h5>Education</h5>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Education 1</label>
                        <input type="text" class="profile-input" name="work_experience">
                        <small class="form-error">
                            
                        </small>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <label for="" class="profile-label">Education 2</label>
                        <input type="text" class="profile-input" name="certifications">
                        <small class="form-error">
                           
                        </small>
                    </div>
                </div>
                <div class="profile-form-row">
                    <div class="profile-form-group-col">
                        <button class="btn btn-blue2">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
