<div class="page-own-content">
    <div class="profile-bio-container">
        <div class="profile-bio-wrapper">
            <div class="profile-image-box">
                <div class="profile-image">
                    <img src="" alt="" class="profile-img">
                </div>
            </div>
            <div class="profile-bio">
                <h3>
                    

                    <a href="" class="profile-edit-icon">
                        <span class="las la-edit"></span>
                    </a>
                </h3>
                <h5>
                    
                </h5>
                <p>
                   
                </p>
            </div>
        </div>
    </div>
    <div class="profile-bio-container">
        <div class="profile-bio-wrapper">
            <div class="profile-table-container">
                <table class="profile-table">
                    <tr>
                        <th>Personal</th>
                    </tr>
                    <tr>
                        <td>Birthday:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>National ID No:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Contacts</th>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <div class="profile-bio-container">
        <div class="profile-bio-wrapper">
            <div class="profile-cv-upload">
                <div class="profile-cv-upload-title">
                    <h4>My Files</h4>
                </div>
                <div class="profile-cv-upload-body">
                    <p>
                        Click to Upload a CV
                        <a href="" class="btn btn-blue2">Upload</a>
                    </p>

                </div>
                <div class="profile-cv-title">
                    <h4>Below is your latest CV:</h4>
                    <p class="text-italics t2">Uploaded: </p>
                </div>
                <div class="profile-cv-display">
                    <a href="" target="_blank">
                        <div class="profile-cv-box" >
                            <img src=" alt="" class="profile-cv-img">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
