@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    display: swap;
}

body {
    font-family: "Poppins", sans-serif; 
    font-weight: 500
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

header .header-logo img {
    display: block;
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.user-logo img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

@media (max-width: 991px) {
    header {
        padding-top: 20px;
        padding-bottom: 20px
    }
}

@media (max-width: 575px) {
    header {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

@media (max-width: 991px) {
    header .navbar {
        position: static
    }
}

@media (max-width: 991px) {
    header .navbar .navbar-nav {
        display: block
    }
}

header .navbar .navbar-nav .nav-item {
    position: relative;
    transition: all .3s
}

header .navbar .navbar-nav .nav-item .language-menu .nav-item {
    margin: 5px 0
}

header .navbar .navbar-nav .nav-item .language-menu .country-flag {
    width: 20px
}

header .navbar .navbar-nav .nav-item .submenu {
    position: absolute;
    min-width: 200px;
    width: auto;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    height: auto;
    display: inline-block;
    top: 110%;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out
}

header .navbar .navbar-nav .nav-item:hover .submenu {
    opacity: 1;
    visibility: visible
}

header .navbar .navbar-nav .nav-item .nav-link {
    padding-right: 25px;
    padding-left: 25px;
    color: #888e8d
}

.languages header .navbar .navbar-nav .nav-item .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 1399px) and (min-width: 1200px) {
    header .navbar .navbar-nav .nav-item .nav-link {
        padding-right: 18px;
        padding-left: 18px
    }

    .languages header .navbar .navbar-nav .nav-item .nav-link {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
    }
}

@media (max-width: 1199px) and (min-width: 992px){
    header .navbar .navbar-nav .nav-item .nav-link {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 15px;
    }

    .languages header .navbar .navbar-nav .nav-item .nav-link {
        padding-right: 6px;
        padding-left: 6px;
        font-size: 13px;
    }
}

header .navbar .navbar-nav .nav-item .nav-link.active, header .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #272727
}

@media (min-width: 1400px) {
    header .navbar .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0
    }
}

@media (max-width: 991px) {
    header .navbar .navbar-toggler {
        box-shadow: none
    }
}

@media (max-width: 991px) {
    header .navbar .navbar-collapse {
        position: absolute;
        width: calc(100% - 24px);
        top: 70px;
        background: #fff;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 696px;
        border-radius: .625rem;
        box-shadow: 0 0 20px rgba(173, 181, 189, .38);
        z-index: 1024
    }
}

@media (max-width: 767px) {
    header .navbar .navbar-collapse {
        max-width: 516px
    }
}

@media (max-width: 991px) {
    header .navbar .header-btn-grp {
        padding: 0 20px 16px;
    }
}

header .navbar .dropdown .dropdown-toggle {
    padding: 8px 25px;
    color: #888e8d
}

@media (max-width: 1399px) {
    header .navbar .dropdown .dropdown-toggle {
        padding-right: 18px;
        padding-left: 18px
    }
}

@media (max-width: 1199px) {
    header .navbar .dropdown .dropdown-toggle {
        padding-right: 14px;
        padding-left: 14px
    }
}

header .navbar .dropdown .dropdown-toggle:after {
    border: 0;
    margin-left: 10px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    content: "";
    vertical-align: middle;
    line-height: normal
}

header .navbar .navbar-nav .submenu .nav-item .nav-link {
    padding-right: 10px;
    padding-left: 10px;
}

footer {
    padding-top: 80px
}

@media (max-width: 991px) {
    footer {
        padding-top: 50px
    }
}

footer .email input {
    width: 95%;
    outline: none;
    border: none;
    padding: 0 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

@media (max-width: 1199px) {
    footer .email input {
        width: 76%
    }
}

footer .email .icon {
    width: 50px;
    height: 50px;
    padding: 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}

.social-icon-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.f-icon-box {
    width: 26px;
}
