<div class="page-row">
    <div class="page-title">
        <h3>Company Profile</h3>
    </div>
</div>
<div class="page-content">
    <div class="page-row">
        <div class="page-col">
            <div class="page-content-title">
                <p>Manage your profile below</p>
            </div>
        </div>
    </div>
</div>
<div class="profile-bio-container">
    <div class="profile-bio-wrapper">
        <div class="profile-image-box">
            <div class="profile-image">
                <img src="../../static/company_logos/logo_01.jpg" alt="" class="profile-img">
            </div>
        </div>
        <div class="profile-bio">
            <h3>XCETRA</h3>
            <p>
                Lorem ipsum dolor sit amet
                consectetur adipisicing elit.
                Assumenda sequi eos magni,
                laborum quaerat, culpa iste
                architecto voluptate provident
                recusandae modi maiores quae
                accusamus eveniet, ducimus sit
                nemo numquam commodi.
            </p>
        </div>
    </div>
</div>
<div class="profile-bio-container">
    <div class="profile-bio-wrapper">
        <div class="profile-keys-values">
            <div class="profile-keys">
                <ul>
                    <li class="profile-key-items">Name:</li>
                    <li class="profile-key-items">Country:</li>
                    <li class="profile-key-items">Speciality:</li>
                    <li class="profile-key-items profile-key-title">Contacts:</li>
                    <li class="profile-key-items">Phone:</li>
                    <li class="profile-key-items profile-key-title">Undertakings</li>
                    <li class="profile-key-items">1</li>
                    <li class="profile-key-items">2</li>
                </ul>
            </div>
            <div class="profile-values">
                <ul>
                    <li class="profile-value-items">XCETRA Technologies</li>
                    <li class="profile-value-items">Kenya</li>
                    <li class="profile-value-items">Graphics Design</li>
                    <li class="profile-value-items">-</li>
                    <li class="profile-value-items">+254 712 345 678</li>
                    <li class="profile-value-items">-</li>
                    <li class="profile-value-items">Print Media, Banners</li>
                    <li class="profile-value-items">- </li>
                </ul>
            </div>
        </div>
    </div>
</div>

