.featured-talent-container{
    padding:0px 5rem;
    margin:30px 0px;
}
.featured-talent-wrapper{}
.featured-talent-title-box{}
.featured-talent-result-box{}
.featured-talent-result-box-inner{}
.featured-talent-result-row{
    display: flex;
    column-gap: 1rem;
}
.featured-talent-result-card{
    border:solid 1px var(--gray-1);
    border-radius: 20px;
    padding:1rem 1rem;
    margin:1rem .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featured-talent-profile-pic{
    width:80px;
    border-radius: 50%;
}
.featured-talent-profile-img{
    width: 100%;
    object-fit:contain;
    border-radius: 50%;
    border:solid 1px var(--gray-1);
}
.featured-talent-name{
    font-weight: 700;
}
.featured-talent-title{
    font-size: .7rem;
}
.featured-talent-rating{
    font-size: .7rem;
    font-weight: 700;
}
.featured-talent-skills{
    padding:0;
}
.talent-skill-pill{
    border-radius: 20px;
    background-color: var(--gray-3);
    padding:.1rem .3rem;
    font-size: .8rem;

}
.featured-talent-view-btn{}

