.partners-container{
    margin:50px 0;
    padding:0 50px;
}
.partners-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partners-line{
    width: 100%;
}
.partners-title{
    padding: 10px auto;
}
.partners-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.partner-logo{
    width: 180px;
    padding:0 30px;
}
.partner-logo-img{
    width: 100%;
    object-fit: cover;
}
