.subscribe-container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe-wrapper{
    background-color: var(--blue-2);
    padding:30px 20px;
    border-radius: 10px;
}
.subscribe-heading h3{
    text-align: center;
}
.subscribe-text p{
    text-align: center;
    font-size: .6rem;
}
.subscribe-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.subscribe-email{
    height: 3rem;
    border:none;
    border-radius: 5px;
    width:20rem;
}
.subscribe-btn{
    height: 3.3rem;
}
