<div class="ps-xl-7 px-2 pe-xl-0 d-flex align-items-stretch">
    <ul class="horizontal-menu nav flex-row d-block d-xl-flex">
        <li class="">
            <a class="nav-link d-flex align-items-center py-3" aria-current="page"
               href="">
                <span class="horizontal-menu-icon"><i class="fab fa-dashcube"></i></span>
                <span class="horizontal-menu-title">Dashboard</span>
            </a>
        </li>
        <li class="">
            <a class="nav-link d-flex align-items-center py-3" aria-current="page"
               href="">
                <span class="horizontal-menu-icon"><i class="far fa-user-circle"></i></span>
                <span class="horizontal-menu-title">Profile</span>
            </a>
        </li>
        <li class="">
            <a class="nav-link d-flex align-items-center py-3" aria-current="page"
               href="">
                <span class="horizontal-menu-icon"><i class="far fa-star"></i></span><div class="ps-xl-7 px-2 pe-xl-0 d-flex align-items-stretch">
                    <ul class="horizontal-menu nav flex-row d-block d-xl-flex">
                        <li class="">
                            <a class="nav-link d-flex align-items-center py-3" aria-current="page"
                               href="">
                                <span class="horizontal-menu-icon"><i class="fab fa-dashcube"></i></span>
                                <span class="horizontal-menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="">
                            <a class="nav-link d-flex align-items-center py-3" aria-current="page"
                               href="">
                                <span class="horizontal-menu-icon"><i class="far fa-user-circle"></i></span>
                                <span class="horizontal-menu-title">Profile</span>
                            </a>
                        </li>
                        <li class="">
                            <a class="nav-link d-flex align-items-center py-3" aria-current="page"
                               href="">
                                <span class="horizontal-menu-icon"><i class="far fa-star"></i></span>
                                <span class="horizontal-menu-title">Favorite Jobs</span>
                            </a>
                        </li>
                        <li class="">
                            <a class="nav-link d-flex align-items-center py-3" aria-current="page"
                               href="">
                                <span class="horizontal-menu-icon"><i class="far fa-building"></i></span>
                                <span class="horizontal-menu-title">Favorite Companies</span>
                            </a>
                        </li>

                            <li class="">
                                <a class="nav-link d-flex align-items-center py-3 ps-2" aria-current="page"
                                   href="javascript:void(0)">
                                    <span class="horizontal-menu-icon"><i class="fas fa-ellipsis-vertical fs-4"></i></span>
                                </a>
                                <ul class="horizontal-submenu dropdown-menu top-100">
                                    <li>
                                        <a class="dropdown-item "
                                           href="">
                                            <span class="horizontal-menu-icon me-1"><i class="fas fa-briefcase fs-6"></i></span>
                                            <span class="horizontal-menu-title fs-6">Applied Jobs</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class=""
                                           href="">
                                            <span class="horizontal-menu-icon me-1"><i class="far fa-bell fs-6"></i></span>
                                            <span class="horizontal-menu-title fs-6">Job Alert</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                
                            
                            <li class="">
                                <a class="nav-link d-flex align-items-center py-3" aria-current="page"
                                   href="">
                                    <span class="horizontal-menu-icon me-1"><i class="fas fa-briefcase"></i></span>
                                    <span class="horizontal-menu-title">Applied Jobs</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="nav-link d-flex align-items-center py-3" aria-current="page"
                                   href="">
                                    <span class="horizontal-menu-icon me-1"><i class="far fa-bell"></i></span>
                                    <span class="horizontal-menu-title">Job Alerts</span>
                                </a>
                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center py-3" aria-current="page"
                                   href="">
                                    <span class="horizontal-menu-icon"><i class="fas fa-briefcase"></i></span>
                                    <span class="horizontal-menu-title">Applied Jobs</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center py-3" aria-current="page"
                                   href="">
                                    <span class="horizontal-menu-icon"><i class="far fa-bell"></i></span>
                                    <span class="horizontal-menu-title">Applied Jobs</span>
                                </a>
                            </li>
                     
                    </ul>
                </div>
                
                <span class="horizontal-menu-title">Favorite Jobs</span>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link d-flex align-items-center py-3" aria-current="page"
               href="">
                <span class="horizontal-menu-icon"><i class="far fa-building"></i></span>
                <span class="horizontal-menu-title">Favorite Companies</span>
            </a>
        </li>
        
            <li class="nav-item d-none d-xl-grid dropdown dropdown-hover">
                <a class="nav-link d-flex align-items-center py-3 ps-2" aria-current="page"
                   href="javascript:void(0)">
                    <span class="horizontal-menu-icon"><i class="fas fa-ellipsis-vertical fs-4"></i></span>
                </a>
                <ul class="horizontal-submenu dropdown-menu top-100">
                    <li>
                        <a class="dropdown-item">
                            <span class="horizontal-menu-icon me-1"><i class="fas fa-briefcase fs-6"></i></span>
                            <span class="horizontal-menu-title fs-6">Applied Jobs</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item">
                            <span class="horizontal-menu-icon me-1"><i class="far fa-bell fs-6"></i></span>
                            <span class="horizontal-menu-title fs-6">Applied Jobs</span>
                        </a>
                    </li>
                </ul>
            </li>

            
       
    </ul>
</div>
