.iti {
  display: block !important;
}

.swal-modal .swal-text {
  text-align: center !important;
}

.customDropdown {
  min-width: 100px !important;
}

.featuredDropdown {
  min-width: 150px !important;
}

.select2-search__field {
  color: #6C757E;
}

.overflow-x-hidden {
  overflow-x: hidden
}

.ql-container {
  height: 100px !important;
}

.slot-bg-danger {
  background: #e9000042;
}

.slot-bg-success {
  background: #1ed5484f;
}
