{% include 'components/header.html' %}
{% include 'components/navbar.html' %}
{% include 'components/hero_1.html' %}
{% include 'components/candi_slider.html' %}
{% include 'components/testimonials.html' %}
{% include 'components/search_job.html' %}
{% include 'components/trending_categories.html' %}
{% include 'components/featured_jobs.html' %}
{% include 'components/partners.html' %}
{% include 'components/subscribe.html' %}
{% include 'components/pre_footer.html' %}
{% include 'components/footer.html' %}



