<div class="aboutContainer">
    <div class="aboutPart1 row gap-5">
        <div class="col-md-5 part-1-A">
            <h4 class="p-1 techH1">Tech Talent Hub</h4>
            <p class="p-1 text-center">Welcome to DigitalAge Hustle, your premier online destination for connecting talented IT and tech professionals with leading employers across Africa. This is Modcom Institute of Technology Program and we understand the unique challenges and opportunities facing the tech industry in Africa, and we're dedicated to facilitating meaningful connections that drive innovation and growth.</p>
            <a class="btn btn-outline-warning" href="/">Get Started</a>
        </div>
        <div class="col-md-5">
            <div class="part-1-img">
                <img src="../../static/img/about-us-imgs/icons/cardImg-one.jpg">
            </div>
        </div>
    </div>
    <div class="aboutPart1 aboutPart2 row gap-2">
        <div class="col-md-3 part-1-A-card">
            <div class="cardImg">
                <img src="../../static/img/about-us-imgs/icons/hiring.png" alt="">
            </div>
            <div class="cardContent">
                <h4 class="p-1 cardh4 text-center">Efficient Hiring</h4>
                <div class="cardPdiv">
                <p class="p-1 text-center cardP">
                    DigitalAge Hustle simplifies recruitment for job seekers and employers, ensuring easy matching for skilled IT professionals and organizations seeking top talent. </p>
                    </div>
                </div>
        </div>
        <div class="col-md-3 part-1-A-card">
            <div class="cardImg">
                <img src="../../static/img/about-us-imgs/icons/peopleIcon.png" alt="">

            </div>
            <div class="cardContent">
                <h4 class="p-1 cardh4 text-center">Career Matches</h4>
                <div class="cardPdiv">
                <p class="p-1 text-center cardP">
                    Discover jobs across Africa with DigitalAge Hustle. Create a profile, showcase skills, and apply easily with personalized recommendations.</p>
                </div>
                </div>
            
        </div>
        <div class="col-md-3 part-1-A-card">
            <div class="cardImg">
                <img src="../../static/img/about-us-imgs/icons/talentIcon.png" alt="">

            </div>
            <div class="cardContent">
                <h4 class="p-1 cardh4 text-center">Talent Hub</h4>
                <div class="cardPdiv">
                <p class="p-1 text-center cardP">
                    At DigitalAge Hustle, we drive positive change in Africa's tech ecosystem by connecting talent with opportunities, empowering growth and development.</p>
                </div>
                </div>
            
        </div>
        
    </div>
    <div class="aboutPart1 row gap-2 aboutBC">
        <div class="col-md-8 aboutBC-components">
            <div class="lead">
                <p>Join us and take the next step in your tech career journey, whether you're a job seeker looking for exciting opportunities or an employer seeking top talent to drive your organization forward. Together, let's build a brighter future for tech in Africa.</p>
            </div>
            <a class="btn btn-outline-warning" href="/">Get Started</a>
        </div>
    </div>
</div>