<br><br><br>
<h3 class="text-center text-blue">Looking for I.T Professionals? Here are some of the best.</h3>
<section class="candidate-slide">
    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                            {% for item in candidates %}
                                <div class="card swiper-slide">
                                    <div class="image-content">
                                        <span class="overlay"></span>
                                        <div class="card-image">
                                            <img src="../../static/candidate_profile_pics/{{item[8]}}" alt="" class="card-img">
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <span class="name">
                                            {{ item[2] }}   </span>
                                        <!-- <span class="job-title">{{ item[9] }} </span> -->
                                        {% if item[9] is not none %}
                                            {% if item[9]|length > 15 %}
                                                <span class="job-title">{{ item[9][:15] }}...</span>
                                            {% else %}
                                                <span class="job-title">{{ item[9] }}</span>
                                            {% endif %}
                                        {% else %}
                                            <span class="job-title">Unknown</span>
                                        {% endif %}
                                    </div>
                                </div>
                                
                            
                            {% endfor %}
            </div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                        <div class="swiper-pagination"></div>
                </div>
        </div>

</section>
<br><br><br>