<div class="slider">
    <div class="slider-wrapper">
        <div class="slider-items">
            <div class="card">
                <div class="profile-image">
                    <img src="{{ asset('assets/candidate_profile_pics/potrait_01.jpg') }}" alt="">
                </div>
                <div class="profile-info">
                    <h3 class="name">John D.</h3>
                    <p class="skill">Web Developer</p>
                </div>
            </div>
            <div class="card">
                <div class="profile-image">
                    <img src="{{ asset('assets/candidate_profile_pics/potrait_02.jpg') }}" alt="">
                </div>
                <div class="profile-info">
                    <h3 class="name">Jane S.</h3>
                    <p class="skill">Graphic Designer</p>
                </div>
            </div>
            <div class="card">
                <div class="profile-image">
                    <img src="{{ asset('assets/candidate_profile_pics/potrait_03.jpg') }}" alt="">
                </div>
                <div class="profile-info">
                    <h3 class="name">Mark K.</h3>
                    <p class="skill">Software Engineer</p>
                </div>
            </div>
            <div class="card">
                <div class="profile-image">
                    <img src="{{ asset('assets/candidate_profile_pics/potrait_04.jpg') }}" alt="">
                </div>
                <div class="profile-info">
                    <h3 class="name">Sarah L.</h3>
                    <p class="skill">Mobile Developer</p>
                </div>
            </div>
            <div class="card">
                <div class="profile-image">
                    <img src="{{ asset('assets/candidate_profile_pics/potrait_05.jpg') }}" alt="">
                </div>
                <div class="profile-info">
                    <h3 class="name">Alex M.</h3>
                    <p class="skill">UI/UX Designer</p>
                </div>
            </div>
            <div class="card">
                <div class="profile-image">
                    <img src="{{ asset('assets/candidate_profile_pics/potrait_06.jpg') }}" alt="">
                </div>
                <div class="profile-info">
                    <h3 class="name">Melissa B.</h3>
                    <p class="skill">Frontend Developer</p>
                </div>
            </div>
            <div class="card">
                <div class="profile-image">
                    <img src="{{ asset('assets/candidate_profile_pics/potrait_07.jpg') }}" alt="">
                </div>
                <div class="profile-info">
                    <h3 class="name">Chris P.</h3>
                    <p class="skill">Database Administrator</p>
                </div>
            </div>
            <div class="card">
                <div class="profile-image">
                    <img src="{{ asset('assets/candidate_profile_pics/potrait_08.jpg') }}" alt="">
                </div>
                <div class="profile-info">
                    <h3 class="name">Lisa J.</h3>
                    <p class="skill">Full Stack Developer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-controls">
      <div class="arrow arrow-left"></div>
      <div class="arrow arrow-right"></div>
    </div>
  </div>
