<section>
    <div class="hero-2-container">
        <div class="hero-2-wrapper">
            <div class="hero-2-title">
                <h1 class="text-white text-start">Hire the best I.T professionals.</h1>
            </div>
            <div class="hero-2-text">
                <p class="text-white text-start">
                    Join Digital Age Hustler today and get access to the best I.T professionals to join your team.
                </p>
            </div>
            
        </div>
    </div>
</section>
