<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>project dah</title>
    <!-- links -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/hero_1.css" />
  </head>
  <body>
    <section class="hero">
      <div class="hero-left">
        <div class="hero-heading textstart">
          Make Your Next <span class="text-warning">Hire Fast</span> With Access
          to <span class="text-warning">Rated I.T</span> Professional Profiles
        </div>
        <div class="hero-text">
          Post jobs and set target audience with I.T skills needed and your
          listings will appear to your matches only
        </div>
        <a class="btn btn-outline-warning" href="/find-talent">Find Talent</a>
      </div>
      <div class="hero-right">
        <div class="hero-heading textend">
          Discover a new way
          <span class="text-warning"> to get your dream I.T</span> Professional
          <span class="text-warning">Job</span> in one Place
        </div>
        <div class="hero-text">
          Get started by signing-up to get access to the best I.T job posts for
          a chance to get your dream job.
        </div>
        <a class="btn btn-outline-warning" href="/find-jobs">Find Jobs</a>
      </div>
    </section>
  </body>
</html>
