<section>
    <div class="search-2-container">
        <div class="search-2-wrapper">
            <div class="search-2-title-box">
                <p class="text-white">Search for talented candidates</p>
            </div>
            <div class="search-2-box">
                <form action="" class="" method="POST">
                    <input type="text" class="search-field search-job-title" placeholder="e.g Web Developer">
                    <select name="location" id="" class="search-field select-search-location">
                        <option>Select Location</option>
                        <option value="">Location 1</option>
                        <option value="">Location 2</option>
                        <option value="">Location 3</option>
                        <option value="">Location 4</option>
                        <option value="">Location 5</option>
                    </select>
                    <button class="btn btn-blue1">
                        <span class="search-icon">Search</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
