<style>
    #btn-searchfeature{
        border: 1px; 
        border-color: #007CAD; 
        border-style: double;
        color: #f0ffff;
        background-color: #007CAD;
    }
    #btn-searchfeature:hover{            
        background-color: #f0ffff;
        color: #007CAD;
        border-color: #007CAD; 
    }
</style>
<section>
    <div class="search-2-container">
        <div class="search-2-wrapper">
            <div class="search-2-title-box">
                <p class="text-white">Search for talented candidates</p>
            </div>
            <div class="search-2-box">
                <div class="row">
                    <form action="javascript:void(0);" method="POST" class="row g-2 align-items-center">
                        <div class="col-md-5">
                            <input type="text" class="search-field search-job-title" placeholder="e.g Web Developer" id="search_text">

                        </div>
                        <!-- <select name="rating" id="" class="search-field select-search-rating">
                            <option>Select Rating</option>
                            <option value="1">1<i class="fas fa-star"></i></option>
                            <option value="2">2<i class="fas fa-star"></i><i class="fas fa-star"></i></option>
                            <option value="3">3<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></option>
                            <option value="4">4<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></option>
                            <option value="5">5<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></option>
                        </select> -->
                        <div class="col-md-4">
                            <select name="location" id="search_location" class="search-field select-search-location" >
                                <option>Select Location</option>
                                {% for location in locations %}
                                    <option value="{{location[0]}}">{{location[0]}}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary float-end ms-2" id="btn-searchfeature ">
                                <i class="fas fa-search"></i><span class="ms-2">Search</span>
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
