<section>
    <div class="subscribe-container">
        <div class="subscribe-wrapper">
            <div class="subscribe-heading">
                <h3 class="text-white">Subscribe to our news letter</h3>
            </div>
            <div class="subscribe-text">
                <p class="text-white">
                    Join our mailing list to receive tips and
                    advice of how to make the best out of
                    Digital Age Hustler and move a step closer to
                    actualizing your dream job.
                </p>
            </div>
            <div class="subscribe-form">
                <form action="" method="post" class="subscribeForm">
                    <input type="text" name="subscriber_email" placeholder="Enter your email" class="subscribe-email">
                    <button class="btn btn-outline-warning subscribe-btn text-white" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
