body{
    background-color: var(--gray-5);
}
.applications-card-btn{

}

.main-panel-container{}
.main-panel-wrapper{
    display: flex;
    flex-direction: row;
}
.top_title{
    color: var(--blue-1);
    font-size: 130%;
    font-weight: lighter;
}
.topbar-container{
    background-color: var(--blue-6);
    text-align: right;
    font-weight: bold;
    color: whitesmoke;
    font-size: 120%;
}
.sidebar-container{

    max-width: 270px;
    width:50%;
    background-color: var(--blue-6);
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    overflow: auto;
}
/* .sidebar-container::before,
.sidebar-container::after{
    content: '';
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    background-color: red;
} */
.sidebar-wrapper{

}
.sidebar-logo-container{}
.sidebar-logo-wrapper{}
.logo-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo-box h4{
    color: #fff;
}
.sidebar-menu-container{
    /* width: 100%; */
}
.sidebar-menu-wrapper{}
.side-menu-box{}
.side-menu-list{
    list-style: none;
}
.side-menu-list li{
    /* width: 100%; */
    margin-bottom: 1.7rem;
    position: relative;
}
.side-menu-list a{
    display: block;
    color:#fff;
    font-size:.7rem;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: color .4s ease-in;
    font-weight: 800;
}
.side-menu-list a.active{
    background-color: var(--gray-5);
    color: var(--blue-6);
    border-radius: 40px 0 0 40px;
}

.side-menu-list a:hover{
    background-color: var(--gray-5);
    color: var(--blue-6);
    border-radius: 40px 40px 40px 40px;
    margin-right: 1.4rem;
}
.side-menu-list a span:first-child{
    font-size: 1rem;
    padding-right: 1rem;
    padding-left:.9rem;
}
.menu-link-overlay{
    position: absolute;
    background-color: transparent;
    top:0;
    left:0;
    bottom: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    border-radius: 40px 0 0 40px;
    opacity: 1;
}
.menu-link-overlay-b{
    position: absolute;
    background-color: transparent;
    top:0;
    left:0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px 0 0 40px;
    opacity: 1;
}
.menu-link-overlay::before,
.menu-link-overlay::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: -2;
    background-color: pink;
}
.menu-link-overlay-b::before,
.menu-link-overlay-b::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 2;
    background-color: pink;
}
.menu-link-overlay::after{
    background-color: var(--blue-6);
    border-radius: 0 0 40px 0;
    right: 0;
    top:-40px;
}
.menu-link-overlay::before{
    right: 0;
    top: -40px;
    background-color: var(--gray-5);
}
.menu-link-overlay-b::after{
    background-color: var(--blue-6);
    border-radius: 0 40px 0 0;
    right: 0;
    bottom:-40px;
}
.menu-link-overlay-b::before{
    right: 0;
    bottom: -40px;
    background-color: var(--gray-5);
}



.menu-box{
    width: 100%;
}
.menu-ul{
    /* display: flex;
    flex-direction: column;
    row-gap: 1rem; */
    list-style: none;
    width: 250px;
    /* border:solid 1px red; */
    padding-left:0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.menu-item{
    width: 100%;
    padding-left:0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    /* border:solid 1px lime; */
}
.menu-link{
    /* border:solid 1px pink; */
    padding: .3rem 2rem;
    color:white;
    text-decoration: none;
    width:100%;
}
.menu-link:hover{
    background-color: white;
    color: var(--blue-6);
}
.panel-logout-btn{
    border:none;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    padding-left:2rem;
    cursor: pointer;
}


.content-container{
    margin-left: 270px;
    width: 100vw;
}
.content-container-overlay{
    top:0;
}
.content-container-overlay::before,
.content-container-overlay::after{
    content:'';
    position: absolute;
    z-index: -1;
    width: 40px;
    height: 40px;
    background-color: crimson;
}
.content-container-overlay::before{
    background-color: var(--blue-6);
}
.content-container-overlay::after{
    background-color: var(--gray-5);
    border-radius: 40px 0 0 0;
}
.content-body-top{
    padding:2rem;
    /* border:solid 1px red; */
    display: flex;
    justify-content: space-between;
}
/* .content-body-top div{
    flex-grow: 1;
} */
/* .content-tools-menu{
    flex-grow: 1;
} */
.content-tools-menu span{
    font-size: 2rem;
    font-weight: 900;
}
/* .content-page-title{
    flex-grow: 1;
} */
.content-page-title span{
    font-size: 1.4rem;
    font-weight: 900;
}
.content-search-bar{
    /* border:solid lime 1px; */
}
.content-search-bar form{
    position: relative;
    width: 400px;
    /* border:solid 1px red; */
    overflow: hidden;
    border-radius:20px;
}
.content-search-bar input{
    border-radius: 20px 0 0 20px;
    height:30px;
    width: fit-content;
    width: 100%;
    background-color:rgb(219, 219, 219);
    border:none;
    padding-left: 20px;
}
.content-search-bar input:active{
    border:none;
}
.content-search-bar ::-ms-input-placeholder,
.content-search-bar ::-webkit-input-placeholder,
.content-search-bar ::placeholder,
.content-search-bar ::-moz-placeholder{
    color:var(--gray-1);
}
.content-search-bar button{
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(219, 219, 219);
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.content-search-bar button:hover{
    background-color: rgb(156, 156, 156);
}
.content-messages{
    position: relative;
}
.content-messages a{
    text-decoration: none;
    color:var(--gray-1);
}
.badge{
    position: absolute;
    font-size: .6rem;
    color:white;
    font-weight: 900;
    background-color: red;
    border-radius: 20px;
    padding:.1rem .4rem;
    top:-8px;
    left:20px;
    text-align: center;
    justify-content: center;
}
.content-messages span:nth-child(2){
    font-size: 2rem;
    font-weight: 900;
}

.content-messages span:nth-child(3){
    font-size: .8rem;
    font-weight: 900;
}
.content-notifications{
    position: relative;
}
.content-notifications a{
    text-decoration: none;
    color:var(--gray-1);
}
.content-notifications span:nth-child(2){
    font-size: 2rem;
    font-weight: 900;
}
.content-notifications span:nth-child(3){
    font-size: .8rem;
    font-weight: 900;
}
.content-profile-pic{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: .5rem;
}
.content-name-title span{
    display: block;
}
.content-name-title span:nth-child(1){}
.content-name-title span:nth-child(2){
    font-size: .6rem;
    font-weight: 100;
}

.content-profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.content-profile-image img{
    width: 100%;
    border-radius: 50%;
}
.content-drop-down a:hover{

}
.content-drop-down span:hover{
    font-weight: 800;
}



.page-own-content{
    margin: 1rem 2rem;
}
.dash-card{
    background-color: #fff;
    margin:0 .5rem;
    padding:1rem 1rem;
    border-radius: .5rem;

    box-shadow: 10px 10px 16px 1px rgba(0,0,0,0.09);
    -webkit-box-shadow: 10px 10px 16px 1px rgba(0,0,0,0.09);
    -moz-box-shadow: 10px 10px 16px 1px rgba(0,0,0,0.09);
}
.dashboard-box-row{
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    justify-content: space-between;
}
.dashboard-col{
    padding:10px;
    width: 100%;
    min-width: 200px;
}
.dashboard-card{
    background-color: white;
    padding:1px 10px;
    width: 100%;
    border-radius: 15px;

    box-shadow: 10px 10px 16px 1px rgba(0,0,0,0.09);
    -webkit-box-shadow: 10px 10px 16px 1px rgba(0,0,0,0.09);
    -moz-box-shadow: 10px 10px 16px 1px rgba(0,0,0,0.09);
}
.dashboard-card-title{}

.page-content{
    background-color: white;
    padding:10px;
    border-radius: 15px;
    box-shadow: 10px 10px 16px 1px rgba(0,0,0,0.09);
    -webkit-box-shadow: 10px 10px 16px 1px rgba(0,0,0,0.09);
    -moz-box-shadow: 10px 10px 16px 1px rgba(0,0,0,0.09);
}
.page-row{
    display: flex;
    flex-direction: row;
}

.page-content-title p{
    font-size: .9rem;
    font-weight: 100;
}
.edit-link{
    font-size: .9rem;
}
.profile-bio-container{
    background-color: white;
    margin:10px 0;
    padding:10px;
}
.profile-bio-wrapper{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}
.proflie-image-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile-image{
    width: 100px;
    border-radius: 50%;
}
.profile-img{
    width: 100%;
    border-radius: 50%;
}
.profile-bio{
    width: 100%;
}
.profile-bio h3{
    font-size: .9rem;
}
.profile-bio p{
    font-size: .8rem;
    font-weight: 100;
}
.profile-edit-icon span{
    font-size: 2rem;
}
.profile-edit-icon span:hover{
    color: var(--blue-1);
}
.profile-form-row{
    display: flex;
    justify-content: space-between;
}
.profile-form-group-col{
    flex: 1;
    margin:.1rem 1rem;
}
.profile-label{
    display: block;
    font-size: .7rem;
    color:var(--blue-1);
}
.profile-input{
    display: block;
    height: 2.2rem;
    width: 100%;
    border-radius: 5px;
    border: solid 1px var(--blue-1);
    padding-left: .4rem;
}
.profile-select{
    height: 2.4rem;
    width: 100%;
    border-radius: 5px;
    border:solid 1px var(--blue-1);
    padding-left: .4rem;
}
.profile-textarea{
    display: block;
    height: 4rem;
    width: 100%;
    border-radius: 5px;
    border: solid 1px var(--blue-1);
}


.profile-keys-values{
    display: flex;
}
.profile-keys{
    flex-grow:1;
    padding:0;
    margin: 0;
    text-align: right;
    /* border:solid 1px lime; */
}
.profile-values{
    flex-grow:1;
    padding:0;
    margin: 0;
    /* border:solid 1px pink; */
}
.profile-key-items{
    list-style: none;
    padding:5px;
    font-size: .9rem;
    color: var(--gray-1);
}
.profile-value-items{
    list-style: none;
    padding:5px;
    font-size: .9rem;
}
.profile-key-title{
    color: black;
    font-weight: 800;
}
.profile-table-container{
    width: 100%;
}

.profile-table{

}
.profile-table th{
    text-align: right;
    font-size: .9rem;
    padding:5px;
    font-weight: 800;
}
.profile-table td:first-child{
    text-align: right;
    color:var(--gray-1);
    font-size: .9rem;
}
.profile-table td:nth-child(2){
    font-size: .8rem;
    padding-left: 1rem;
}

.profile-cv-upload{}
.profile-cv-upload-title{}
.profile-cv-upload-body p{
    font-size: .8rem;
    margin-bottom: 2rem;
    color:var(--gray-1);
}
.profile-cv-upload-body a{
    font-size: .9rem;
    margin-bottom: 4rem;
}
.profile-cv-tilte{}
.profile-cv-display{}
.profile-cv-box{
    width: 100px;
    padding:.4rem;
    border:solid 1px #e3e3d4;
    border-radius: .2rem;
}
.profile-cv-box:hover{
    border:solid 1px magenta;
}
.profile-cv-img{
    width: 100%;
}






.applications-container{}
.applications-wrapper{}
.applications-row{
    display: flex;
}
.applications-col{
    margin:.5rem;
    width: 100%;
}
.applications-card{
    border-radius: .5rem;
    background-color: white;
    padding:.1rem 1rem;
    box-shadow: 10px 10px 16px 1px rgba(0,0,0,0.09);
    -webkit-box-shadow: 10px 10px 16px 1px rgba(0,0,0,0.09);
    -moz-box-shadow: 10px 10px 16px 1px rgba(0,0,0,0.09);
}
.applications-card-header{
    display: flex;
}
.applications-card-header-titles{
    flex-grow: 1;
}
.applications-card-header-company-name{
    font-size: .9rem;
    color:var(--gray-1);
}
.applications-card-header-job-title{
    font-size: 1rem;
}
.applications-card-header-salary-range{
    font-size: .7rem;
}
.applications-card-header-company-logo{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:solid 1px pink; */
}
.applications-card-header-status-approved{
    font-size: .5rem;
    background-color:green;
    color:white;
    border-radius: 1rem;
    padding:.1rem .5rem;
}
.applications-card-header-status-pending{
    font-size: .5rem;
    background-color:var(--gray-1);
    color:white;
    border-radius: 1rem;
    padding:.1rem .5rem;
}
.applications-card-header-status-rejected{
    font-size: .5rem;
    background-color:red;
    color:white;
    border-radius: 1rem;
    padding:.1rem .5rem;
}
.applications-card-header-company-image{
    width: 50px;
    border-radius: 50%;
    margin-top:.6rem;
}
.applications-card-header-company-img{
    width: 100%;
    border-radius: 50%;
}
.applications-card-body{
    font-size: .7rem;
    color:var(--gray-1);
}
.applications-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.applications-card-job-type{
    font-size: .8rem;
    color: var(--gray-1);
}
.applications-card-job-location{
    font-size: .8rem;
    color: var(--gray-1);
}
/* d */
.search-bar-main form{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;


}
.search-bar-main-location{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar-main-location select{
    height: 100%;
    border:none;
}
.search-bar-main-search-field{
    width: 100%;
}
.search-bar-main-search-field input{
    width:100%;
    height: 100%;
    border:none;
    background-color: #fff;
    padding-left: 1rem;
}
.search-bar-main-buttons div:first-child{
    background-color: #e4e4e4;
    color:var(--blue-6);
}
.search-bar-main-buttons div:nth-child(2){
    background-color: var(--blue-6);
    padding:.1rem 1rem;
}

.search-bar-main-buttons{
    display: flex;
    column-gap: 1rem;
}
.suggestions-container{
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.suggestions-pills span{
    background-color: #d4bcff;
    padding:.5rem 1.3rem;
    border-radius: 30px;
    color:var(--blue-6);
    font-size: .7rem;
    font-weight: 600;
    cursor: pointer;
}
.suggestions-pills span:hover{
background-color: rgba(44, 17, 178, 0.777);
color:snow;

}
.search-result-controls{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .1rem 1rem;
    margin: 2rem .5rem;
}
.search-result-controls-left{

    /* width: 30%; */
    display: flex;
    flex-direction: column;
}
.search-result-controls-left span:first-child{
    font-size: .9rem;
    font-weight: 700;
}
.search-result-controls-left span:nth-child(2){
    font-size: .7rem;
    color: var(--gray-1);
}
.search-result-controls-right{
}
.search-result-controls-right form input,
.search-result-controls-right form label{
    font-size: .9rem;
    color: var(--gray-1);
}
.search-result-controls-right form select{
    font-size: .9rem;
    color: var(--gray-1);
    padding: .5rem 1rem;
    border:solid 1px var(--gray-1);
}

.search-result-card{

}
.search-result-card-header{
    display: flex;
    justify-content: space-between;
}
.search-result-card-header-left{
    display: flex;
    flex-direction: column;
}
.search-result-card-header-left span:nth-child(1){
    font-size: .8rem;
    color: var(--gray-3);
    margin: .3rem 0;
}
.search-result-card-header-left span:nth-child(2){
    font-size: 1rem;
    margin: .3rem 0;
    font-weight: 700;
}
.search-result-card-header-left span:nth-child(3){
    font-size: .8rem;
    color: var(--blue-1);
    margin: .3rem 0;
    font-weight: 600;
}
.search-result-card-header-right{}
.search-result-card-header-company-logo{
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.search-result-card-header-company-logo img{
    width: 100%;
    border-radius: 50%;

}
.search-result-card-body{}
.search-result-card-body p{
    font-size: .8rem;
    color: var(--gray-6);
}
.search-result-card-footer{
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    font-weight: 600;
}
.search-result-card-footer span:nth-child(1){

}
.search-result-card-footer span:nth-child(2){

}
.search-result-card-foot{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
